* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;

}


.text {
  transform: skewY(20deg);
  z-index: 10;
}



.header {
  font-size: calc(5vw + 5vh);
  margin-top: 50px;
  /* cursor: pointer; */
}


.people-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150vh;
  background-color: tomato;
  transform: translateY(-700px);
  transform: skewY(-20deg) translateY(-1000px);

}

.people-header {
  color: white;
  font-size: calc(5vw + 5vh);
  transform: skewY(20deg);

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200vh;
  background-color: #dddddd;
  flex-direction: column;
  transform: skewY(-20deg) translateY(-500px);
}


.person {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  width: 50vw;
  height: 10vh;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.294);
  border-radius: 20px;
}